*{margin: 0; padding: 0; font-family: Montserrat-Bold;}

.MR
{
    font-family: Montserrat-Regular;
}

@font-face {
    font-family: Montserrat-Bold;
    src: url("fonts/Montserrat-Bold.ttf");
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: Montserrat-ExtraLight;
    src: url(/fonts/Montserrat-ExtraLight.ttf);
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(fonts/Montserrat-Regular.ttf);
    font-style: normal; 
    font-weight: normal; 
}

.header
{
    width: 100%;
    height:80px;
    background-color: coral;
    align-items: center;
}
.header-brand
{
    font-family: Montserrat-Bold;
    color: white;
}
.header-link
{
    font-family: Montserrat-Regular;
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    display: block;
}
.body
{
    width: 100%;
}
.body-main-text
{
    font-size: 28px;
}
.body-text
{
    font-size: 16px;
    font-family: Montserrat-Regular;
}
#about
{
    padding: 40px 0;
}
.body-line
{
    margin: 20px 0;
    width: 100%;
    height: 2px;
    background-color: coral;
}
.body-card-text
{
    font-size: 22px;
    text-align: center;
}
.footer
{
    margin-top: 20px;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(194, 98, 63);
}
.footer-text
{
    text-align: center;
    font-family: Montserrat-Regular;
    font-size: 12px;
    color: white;
}
