*{margin: 0; padding: 0;}

@font-face {
    font-family: Montserrat-Bold;
    src: url("fonts/Montserrat-Bold.ttf");
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: Montserrat-ExtraLight;
    src: url(/fonts/Montserrat-ExtraLight.ttf);
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(fonts/Montserrat-Regular.ttf);
    font-style: normal; 
    font-weight: normal; 
}

.header
{
    width: 100%;
    height:100px;
    background-color: coral;
    align-items: center;
}
.header-brand
{
    font-family: Montserrat-Bold;
    color: white;
}
.header-link
{
    width: 100%;
    align-items: center;
}
.body
{
    width: 100%;
}
.footer
{
    width: 100%;
}